.Card {
    display: flex;
    
    
  }

  .Card > div{
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        margin: 30px;
        padding: 70px;
        font-size: 30px;
        
        
  }
  .img{

    /* border-radius: 5rem; */
   
  }

  .project-title{
    text-align: center;
  }